*{
margin: 1%;	
}
.normal {
display: none;
}
.inverted {
display: inline;
}
p{
margin-left: 5%;
margin-right: 5%;
}
caption {
border: 2px ridge black;
}
figure{
float: left;
}
table {
	text-align: center;
	width: 75%;
	margin-left: 12%;
	margin-right: 12%;
	border: 3px double black;
}
body {
	height: 200px;
	background-color: white; 
	color: black;
	font-size: 22;
	font-family: Prompt;
}
footer{
	background-image: linear-gradient(white, #1c1b22);
	margin: 0%;
}
li.nav a:link{
	color: #0066cc;
}
li.nav a:visited{
	color: #7f00cc;
}
li.nav a:hover{
	color: 00ff00;
}
li.nav a:active{
	color: 00bbff;
}
article.article1 {
	float: left;
}
article.article2 {
	float: right;
}
@media (prefers-color-scheme: dark) { 
	body {
	background-color: #1c1b22; 
	color: white;
	height: 200px;
	font-size: 18;
	font-weight: normal;
	font-family: "Open Sans";
	}
	footer {
		background-image: linear-gradient(#1c1b22, white);
	}
	table {
		width: 75%;
		margin-left: 12%;
		margin-right: 12%;
		border: 3px double white;
	}
	caption {
	border: 2px ridge white;
	}
	td {
	border: 1px solid white;
	}
	th {
	border: 1px dotted white;
	}
	.normal {
	display: inline;
	}
	.inverted {
	display: none;
	}
}
div.a {
	width: 45%;
	float: left;
}
div.b {
	width: 50%;
	float: right;
}
div.c {
	clear: both;
}
div.d {
	width: 75%;
	float: left;
}
div.e {
	width: 20%;
	float: left;
}
article.news {
	width: 20%;
	float: left;
	border: 2px solid black;
}
img.news{
	width: 98%;
}
body.news {
	height: 200px;
	background-color: white; 
	color: black;
	font-size: 22;
	font-family: Prompt;
}
header.news {
	background-color: red; 
}
footer.news {
	background-color: white; 
	color: black;
	font-size: 22;
	font-family: Prompt;
	border-top: 3px solid black;
	background-color: light-blue;
	background-image: none;

}